@import "tailwindcss";

@theme{ /*අපිට ඕන පාටක් ඇඩ් කරගන්න පුළුවන් මෙහෙම */
    --color-primary: #d4f0fc;
    --color-secondary: #01303f;
    --color-accent: #02a9f7;
} 


/*Transparent scroll track class called hide-scroll-track*/
.hide-scroll-track::-webkit-scrollbar{
  width: 8px;
}
.hide-scroll-track::-webkit-scrollbar-track{
  background: transparent;
}
.hide-scroll-track::-webkit-scrollbar-thumb{
  background-color: rgba(0,0,0,0.2);
  border-radius: 20px;
  border: 3px solid transparent;
}
