@import "tailwindcss";

@theme{ 
    --color-primary: #d4f0fc;
    --color-secondary: #01303f;
    --color-accent: #02a9f7;
} 

.hide-scroll-track::-webkit-scrollbar{
  width: 6px;
}
.hide-scroll-track::-webkit-scrollbar-track{
  background: transparent;
}
.hide-scroll-track::-webkit-scrollbar-thumb{
  background-color: rgba(0,0,0,0.2);
  border-radius: 20px;
  border: 2px solid transparent;
}

@keyframes float {
  0%,100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}